presentations
~*

01-Lists-as-Stacks-and-Queues-Lab.docx
01-Lists-as-Stacks-and-Queues-Exercise.docx

02 Tupples and sets/Exercises/02-Tuples-and-Sets-Exercise.docx
02-Tuples-and-Sets-Lab.docx

# Exam prep
01. Paint Colors_Problem Description.docx
02. Easter Bunny_Problem Description.docx
03. Find the Eggs_Problem Description.docx

1. Dating App_Problem Description.docx
2. Book Worm_Problem Description.docx
3. Magic Triangle_Problem Description.docx

1. Santa's Present Factory_Problem Description.docx
2. Present Delivery_Problem Description.docx
3. Advent Calendar_Problem Description.docx

01. Expression Evaluator_Problem Description.docx
02. War Planes_Problem Description.docx
03. Repeating DNA_Problem Description.docx

01. Club Party_Условиe.docx
02. Tron Racers_Условиe.docx

01. Lootbox_Problem Description.docx
02. Re-Volt_Problem Description.docx

#exam
01. Bombs_Description.docx
02. Snake_Description.docx
03. List Manipulator_Description.docx