.vscode
.idea
js-fundamentals-notes.rtf
presentations
.idea
~*

01_basic_syntax, conditionals and loops/Lab/01. JS-Fundamentals-Basic-Syntax-Conditional-Statements-and-Loops-Lab.docx
01_basic_syntax, conditionals and loops/Exercises/01. JS-Fundamentals-Basic-Syntax-Conditional-Statements-and-Loops-Exercise.docx
01_basic_syntax, conditionals and loops/MoreExercises/01. JS-Fundamentals-Basic-Syntax-Conditional-Statements-and-Loops-More-Exercise .docx

02. JS-Fundamentals-Data-Types-and-Variables-Lab.docx
02. JS-Fundamentals-Data-Types-and-Variables-Exercise.docx
02. JS-Fundamentals-Data-Types-and-Variables-More-Exercise.docx

03. JS-Fundamentals-Arrays-Lab.docx
03. JS-Fundamentals-Arrays-Exercise.docx
03. JS-Fundamentals-Arrays-More-Exercises.docx

04. JS-Fundamentals-Methods-Functions-Lab.docx
04. JS-Fundamentals-Methods-Functions-Exercise.docx
04. JS-Fundamentals-Methods-Functions-More-Exercises.docx

05. JS-Fundamentals-Arrays-Advanced-Lab.docx
05. JS-Fundamentals-Arrays-Advanced-Exercise.docx
05. JS-Fundamentals-Arrays-Advanced-More-Exercise.docx

06. JS-Fundamentals-Objects-and-Classes-Lab.docx
06. JS-Fundamentals-Objects-and-Classes-Exercise.docx
06. JS-Fundamentals-Objects-and-Classes-More-Exercise.docx

# mid exam prep
01. Bonus Scoring System_01. Bonus Scoring System - JS.docx
02. MuOnline_02. MuOnline - JS.docx
03. Inventory_03. Inventory - JS.docx

01. National Court_01. National Court.docx
02. Shopping List_02. Shopping List.docx
03. Heart Delivery_03. Heart Delivery.docx

exam/mid_exam/prep/07_apr/01. Counter Strike_Problem_Description.docx
exam/mid_exam/prep/07_apr/02. Shoot for the Win_Problem_Description.docx
exam/mid_exam/prep/07_apr/03. Moving Target_Problem_Description.docx

exam/mid_exam/exam/01. SoftUni Reception.docx
exam/mid_exam/exam/02. Array Modifier.docx
exam/mid_exam/exam/03. Numbers.docx

07_associative_arrays/Exercises/08. JS-Fundamentals-Associative-Arrays-Exercise.docx
07_associative_arrays/Lab/08. JS-Fundamentals-Associative-Arrays-Lab.docx
07_associative_arrays/MoreExercises/08. JS-Fundamentals-Associative-Arrays-More-Exercises.docx

08_text_processing/Lab/09. JS-Fundamentals-Text-Processing-Lab.docx

exam/final_exam/prep/retake-10-april-2020/01. Secret Chat_Problem_Description.docx
exam/final_exam/prep/retake-10-april-2020/02. Mirror Words_Problem_Description.docx
exam/final_exam/prep/retake-10-april-2020/03. Need for Speed III_Problem_Description.docx
