.idea
~*
.vscode
js-advanced-notes.rtf
01_syntax_functions_statements/Exercises/01. JS-Advanced-Syntax-Functions-and-Statements-Exercise.docx
01_syntax_functions_statements/Lab/01. JS-Advanced-Syntax-Functions-and-Statements-Lab.docx
presentations
02_arrays/Exercises/02. JS-Advanced-Arrays-Exercise.docx
02_arrays/Lab/02. JS-Advanced-Arrays-Lab.docx
03_objects_and_classes/Exercises/03. JS-Advanced-Objects-and-Classes-Exercise.docx
03_objects_and_classes/Lab/03. JS-Advanced-Objects-and-Classes-Lab.docx
03_objects_and_classes/MoreExercises/03. JS-Advanced-Objects-and-Classes-More-Exercise.docx
04_DOM/Exercises/05. JS-Advanced-DOM-Exercise.docx
04_DOM/Lab/05. JS-Advanced-DOM-Lab.docx
06_function_context/Lab/06. JS-Advanced-Function-Context-Lab.docx
05_DOM_manipulations/Lab/06. JS-Advanced-DOM-Manipulations-Lab.docx
06_function_context/Exercises/06. JS-Advanced-Function-Context-Exercise.docx
exam/prep/cinema/01. Central Cinema_Условия.docx
09_prototypes_and_inheritance/Exercises/03. JS-Advanced-Prototypes-and-Inheritance-Exercise.docx
09_prototypes_and_inheritance/Lab/03. JS-Advanced-Prototypes-and-Inheritance-Lab.docx
exam/prep/course_exam_prep/Exam Preparation 2020.docx
exam/prep/pets/01. Pet Me_Условия.docx
