<h2>Register</h2>
<form action="/auth/register" method="POST">
<div>
    <label for="email">Email</label>
    <input id="email"  type="text" name="email">
</div>
<div>
    <label for="password">Password</label>
    <input id="password" type="password" name="password">
</div>
 <div>
    <label for="rePassword">Repeat password</label>
    <input id="rePassword" type="password" name="rePassword">
</div>
<div>
    <button>submit</button>
</div>
</form>