<form action="/items/{{_id}}/edit" method="POST">
    <input type="text" placeholder="title" name="title" value="{{title}}">
    <input type="text" placeholder="description" name="description" value="{{description}}">
    <input type="submit" value="submit">
</form>