<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>VueJS Demo</title>
    <script src="./vue.min.js"></script>
    <script defer src="./index.js"></script>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="firstNum" :value="firstNum" />
      <input type="text" v-model="secondNum" :value="secondNum" />
      <p>{{ msg.toUpperCase()}}</p>
      <button v-on:click="show">Sum</button>
    </div>
  </body>
</html>
