.idea
presentations
~*
__pycache__

01-Defining-Classes-Lab.docx
01-Defining-Classes-Exercise.docx

02-Classes-and-Instances-Lab.docx
02-Classes-and-Instances-Exercise.docx

03-Attributes-and-Methods-Lab.docx
03-Attributes-and-Methods-Exercise.docx

05-Encapsulation-Lab.docx
05-Encapsulation-Exercise.docx

06-Inheritance-Lab.docx
06-Inheritance-Exercises.docx

07-Polymorphism-Lab.docx
07-Polymorphism-Exercise.docx

08-SOLID-Lab.docx
08-SOLID-Exercise.docx

08-Iterators-and-Generators-Lab.docx
08-Iterators-and-Generators-Exercise.docx

09-Decorators-Lab.docx
09-Decorators-Exercises.docx


1. Structure_Problem Description.docx
