
<main>
    <img id="sadFaceImg"
        src="https://www.flaticon.com/svg/vstatic/svg/42/42901.svg?token=exp=1611684032~hmac=8292bacd91b8df5e6bb083462247af05"
        alt="sad face" />
    <h1>404</h1>
    <h2>Page not found</h2>
</main>

    